/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-user-drag: none;
  text-decoration: none;
  list-style: none;
}